<div class="row">
  <div class="col-sm-4">
    <hr class="featurette-divider">
    <div class="featurette featurette-shadow">
      <div class="floating-favicon-large"><%= icon('info-circle')%></div>
      <h2 class="featurette-heading header-center thin-top">What is a <span class="text-italic text-muted-blue">Progressive Stack?</span></h2>
      <ul class="medium-spacing">
        <li>A progressive stack is a technique designed to ensure that people from marginalized groups get a greater chance to speak</li>
        <li>The "stack" in the Occupy movement is the list of speakers who are commenting on proposals or asking questions in public meetings</li>
        <li>
          <%= link_to 'https://en.wikipedia.org/wiki/Progressive_stack' do %>progressive stack <%= icon('wikipedia-w') %><% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-4">
    <hr class="featurette-divider">
    <div class="featurette featurette-shadow">
      <div class="floating-favicon-large"><%= icon('gavel')%></div>
      <h2 class="featurette-heading header-center thin-top">What is Social Justice?</h2>
      <ul class="medium-spacing">
        <li>Social justice is the fair and just relation between the individual and society</li>
        <li>Radical proponents are known as <strong>Social Justice Warriors(SJWs)</strong></li>
        <li>
          <%= link_to 'https://en.wikipedia.org/wiki/Social_justice' do %>social justice <%= icon('wikipedia-w') %><% end %>
        </li>
        <li>
          <%= link_to 'https://en.wikipedia.org/wiki/Social_justice_warrior' do %>social justice warrior <%= icon('wikipedia-w') %><% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-4">
    <hr class="featurette-divider">
    <div class="featurette featurette-shadow">
      <div class="floating-favicon-large"><%= icon('info-circle')%></div>
      <h2 class="featurette-heading header-center thin-top">What is our Mission?</h2>
      <h4>Primary objectives</h4>
      <ul class="medium-spacing">
        <li>Break privilege down into an algorithm</li>
        <li>Distribute this algorithm to the people</li>
        <li>Let the people judge it's worth</li>
      </ul>
      <h4>Secondary objectives</h4>
      <ul class="medium-spacing">
        <li>Have a bit of fun?</li>
        <li>Do our part to break the echo chamber</li>
      </ul>
    </div>
  </div>
</div>