<body data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>" data-html-action="1">

<%= render partial: 'index', locals: { quota: Quotum.none }, layout: false %>

<% title("New quotum ") %>
<% modal_header("New Quotum") %>

<%= javascript_tag do %>
  <%= render(partial: 'shared/global_partials/modal', formats: [:js]) %>
<% end %>

</body>
