<body data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>" data-html-action="1">

<%= render partial: 'index', locals: { access_control: @access_control.quota_set_to_empty(true) }, layout: false %>

<% title("#{@quotum.name} | Progressivestack") %>
<% modal_header("viewing #{@quotum.name}") %>

<%= javascript_tag do %>
  <%= render(partial: 'shared/global_partials/view_modal', formats: [:js]) %>
<% end %>

</body>
