<div class="container">
  <footer class="footer footer-bottom">
    <div class="featurette-small featurette-small-shadow featurette-small-thin">
      <div class="row row-no-padding">
        <div class="col-md-12">
          <div class="align-center">
          <%= link_to "https://github.com/Exanimous", class: "floating-favicon-small padding-medium" do %>
            <%= icon('github', 'github', class: 'strong') %>
          <% end %>
          <%= link_to "https://twitter.com/IwasApirate", class: "floating-favicon-small padding-medium" do %>
            <%= icon('twitter', 'twitter', class: 'strong') %>
          <% end %>
          <%= link_to "https://www.reddit.com/r/progressivestack/", class: "floating-favicon-small padding-medium" do %>
            <%= icon('reddit', 'reddit', class: 'strong') %>
          <% end %>
          <%= link_to "https://github.com/Exanimous/progressivestack/issues", class: "floating-favicon-small" do %>
            <%= icon('bug', 'bugs', class: 'strong') %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>