<div class="container">
  <footer class="footer" style="padding-bottom: 50px; margin-top: 75px;">
      <div class="row">
        <div class="col-md-1 col-md-offset-4">
          <%= link_to "https://github.com/Exanimous/progressivestack" do %>
            <%= icon('github', 'github', class: 'strong') %>
          <% end %>
        </div>
        <div class="col-md-1">
          <%= link_to "https://twitter.com/IwasApirate" do %>
            <%= icon('twitter', 'twitter', class: 'strong') %>
          <% end %>
        </div>
        <div class="col-md-1">
          <%= link_to "https://www.reddit.com/r/progressivestack/" do %>
            <%= icon('reddit', 'reddit', class: 'strong') %>
          <% end %>
        </div>
        <div class="col-md-1">
          <%= link_to "https://github.com/Exanimous/progressivestack/issues" do %>
            <%= icon('bug', 'bugs', class: 'strong') %>
          <% end %>
        </div>
      </div>
  </footer>
</div>