<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Progressivestack</title>
    <%= display_meta_tags site: 'Progressive Stack' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag controller_name, media: 'all', 'data-turbolinks-track' => 'replace' unless %w( registrations sessions).include? controller_name %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <!-- disable this for now
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    -->

    <!-- favicon -->
    <%= render 'application/favicon' %>
  </head>
  <!-- scope body by controller and action -->
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>" class="<%= yield(:body_class) %>">

    <!-- modal container -->
    <%= render 'layouts/dialog' %>
    <!-- flash messages (notifications -->
    <%= render partial: 'shared/global_partials/flash_messages', locals: { flash: flash } %>
    <%= render 'layouts/header' %>
    <%= yield %>
    <div id="notification-bar"></div>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/debug' %>
  </body>
</html>
